@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Barlow:wght@300;400;500;600;700&family=Quattrocento:wght@400;700&family=Satisfy&display=swap');

:root {
  --color-primary: #FDC913;    
  --color-secondary: #CE2829;  
  --color-text-dark: #292929;
  --color-text-light: #5F5F5F;
  --color-bg-beige: #FAF7F2;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  line-height: 1.6;
  color: var(--color-text-dark);
  background-color: var(--color-bg-beige);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}